.adminform-separator td{
    font-size: 16px!important;
    color: #161724!important;
}
.adminform-separator
{
    padding: 0px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 24px;
    color: #161724;
    font-weight: 600;
    margin-bottom: 0;
}
.form-group{
    display: table;
    width: 100%;
}
.adminform_table td textarea{
    border-radius: 5px;
    padding: 10px 20px;
}

.adminform-filed-end-txt{
    margin: 3px 10px;
}
.adminform_table td input[type="password"],
.adminform_table td input[type="text"]
{
    border-radius: 8px;
    height: 45px;
    padding: 10px 20px;
    font-weight: 500;
}

.adminform_table td:first-child{
    color: #171725;
    font-size: 14px;
}
.adminform_table td textarea
{

}

.adminform_table td input[type=checkbox]
{
    width:auto;
}

.admintable_row td img {max-width:280px;}

.adminform_savebutton input{
    background: #0F172A;
    color: #fff;
    font-size: 14px;
    padding: 10px 25px;
    border: 0px solid;
    font-weight: normal;
}
.adminform_savebutton
{
    text-align:right;
    padding: 6px 14px;
}


.adminform-row-odd
{
    background-color:#efefef;
}

.adminform-row-pair
{
    background-color:#fafafa;
}

tr.adminform-row-odd:hover td, tr.adminform-row-pair:hover td
{
    background-color:#d9edf7;
}

.adminform_savebutton_helper
{
    font-style:italic;
    padding-right:2em;
    font-size:smaller;
}
tr.form-group{
    display: table;
    width: 100%;
}
.adminform_form tr.adminform-separator td:first-child{
    margin-bottom: 0;
}
.adminform_form tr td:first-child{
    margin-bottom: 10px;
}
.adminform_form tr td{
    width: 100%;
}
.adminform_form tr{
    display: flex;
    flex-direction: column;
}
.adminform_form{
    background-color: #ffffff;
    box-shadow: none;
    color: #000;
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 10px 15px 15px 15px;
    max-width: 600px;
}

.adminform-filed-btm-txt {
    font-size:10px;
    font-style:italic;
}
.field-caption-color{
    color: #161724;
    font-size: 14px;
    font-weight: 500;
}
.form-label-text{
    font-size: 14px;
    font-weight: 500;
    color: #6B7280;
}
.form-control::placeholder{
    color: #161724;
    font-weight: 500;
    text-transform: capitalize;
}
.selectize-input.has-items > .item{
    padding: 2px 10px;
}
.selectize-control{
    display: flex;
}
.has-items > .item{
    font-size: 13px;
    color: #000 !important;
    background: #F3ECFD !important;
    padding: 5px 5px;
    border-radius: 3px;
    margin-right: 5px;
    font-weight: 500;
    display: inline-block;
}
.has-items:focus{
    box-shadow: none;
}
.selectize-input:focus{
    box-shadow: none !important;
}
.checkbox-wrapper div:first-child {
    order: 1;
    margin-left: 10px;
}
.checkbox-wrapper {
    display: flex;
    align-items: center;
}
.flex-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0px;
}

.checkbox-container {
    order: 2;
    margin-top: 0px !important;
}

input[type="checkbox"] {
    order: 1;
}

.checkmark {
    order: 3;
}
.adminform_form .form-group{
    display: table;
    width: 100%;
}
.form-control {
    display: block;
    width: 100%;
    border-radius: 0.25rem;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(226 232 240 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(15 23 42 / var(--tw-text-opacity));
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-label {
    margin-bottom: 0.5rem;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 1.5rem;
    --tw-text-opacity: 1;
    color: rgb(71 85 105 / var(--tw-text-opacity));
}
.adminform_form .form-label {
    margin: 10px 0 5px;
}
.flex-container input,
.flex-container label {
    margin: 0!important;
}
.flex-container{
    display: flex;
    align-items: center;
    gap: 10px;
}