.rd-dash-conversation-time-short
{
	padding-left:60px;
}

.rd-dash-sidebar{
    display: table-cell;

    padding:0px;
    margin-top:10px;
    position: relative;
    font-family: Lato,sans-serif;
}
.rd-dash-sidebar-item:hover{
    background: #4596f1;
    color:#fff;
}
.rd-dash-sidebar-item:first-child{
    border-top: 0px solid #d7d7d7;
}
.rd-dash-sidebar-item
{
    padding: 10px 15px;
	border:0px solid #000000;
	cursor:pointer;
    color:#000;
    font-family: Lato,sans-serif;
    border-bottom: 0px solid #d7d7d7;
}

.rd-dash-sidebar-active:first-child{
    border-top:0px solid #000000;
}
.rd-dash-sidebar-active
{
    color: #fff;
    position: relative;

    z-index: 9999;
    background: #4596f1;
    font-weight: bold;
    font-family: Lato,sans-serif;
    border-bottom: 0px solid #d7d7d7
}

.rd-dash-conversation
{
    display: table-cell;
    padding-top: 20px;
    border-right:0px solid #f0f0f0;
    border-bottom:0px solid #f0f0f0;
    background: #fff;
    min-height: 400px;
}

.dash-conversation-timeline > div{
    text-align: center;
}
.dash-sidebar-unread .rd-dash-sidebar-item-details{
    padding-left:20px;
    background: url(images/newmessage.png) no-repeat left center;

}
.dash-sidebar-unread
{

}

.rd-dash-conversation-employee .rd-dash-conversation-item-footer{
    background: #fff;
}
.rd-dash-conversation-employee
{
	float:right;
    max-width: 65%;
    border:0px solid #428bca;
    border-radius: 5px!important;
}

.rd-dash-conversation-customer
{
	float:left;
    max-width: 50%;
    border-radius: 10px 10px 10px 0!important;
}

.rd-dash-conversation-item-details span{
    color: #000;
    font-weight: normal;
    font-size: 14px;
}

.rd-dash-conversation-employee .rd-dash-conversation-item-details span{
    color: #1fa2ed;
    font-weight: normal;
}

.rd-dash-conversation-item-details
{
    display: table;
    float: left;
}
.rd-dash-conversation-item-footer{
    justify-content: start;
    padding: 0;
}
.rd-dash-conversation-employee .rd-dash-conversation-item-footer{
    color:#000;
}
.dash-conversation-unread
{
	background:#fef4d1;
}

.dash-conversation-divider
{
	margin:3px;
}

.navbar {
    margin-bottom: 0px;
}
hr{
    margin-top:0px;
}
.mainblock .col-md-12 .row{
    background: url(images/sidebarbg.jpg) repeat-y;
}
.mainblock .col-md-12 .row .col-md-9 .row{
    background: #fff;
}
.rd-dash-sidebar{
    background: #f0f0f0;
    padding:10px;
    margin-right:15px;
}
.rd-dash-sidebar-load{
    display: table;
    margin: 0 auto;
    width: 100%;
}
.rd-dash-sidebar-load a{
    margin: 0px auto;
    background: none repeat scroll 0 0 #5cb85c;
    text-align: center;
    border-radius: 5px;
    color: #fff !important;
    font-weight: bold;
    padding: 6px 12px;
    margin-top: 10px;
    font-family: Lato,sans-serif;
    display: table;
    width: 100%;
    border: 1px solid #4cae4c;
}
.rd-dash-sidebar-load a:hover{
    text-decoration: none;
    background: #449d44;
}
.rd-dash-conversation-answer button{

    text-transform: uppercase;
    border-radius: 5px;
    color: #fff !important;
    font-weight: bold;
    padding: 10px 20px;
    display: table;
    font-family: Lato,sans-serif;
    float: right;
}
.rd-dash-conversation-answer{
    width:95%;
    margin: 0px auto;
    background: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 0px;
    margin-top: 40px;
    display: table;
}
#dashboard-conversation-text{
    width:100%;
    min-height: 150px;
    border: 0px solid;
    border-radius: 5px;
    margin-bottom: 20px;
}


.dash-conversation-timeline{
}
.timeline{
    padding-bottom: 20px;
}
.timeline:last-child{
    background: none;
}