<IfModule mod_php5.c>
php_flag	magic_quotes_gpc		Off
</IfModule>

RewriteEngine On

RewriteRule ^$ index.php [L]

RewriteRule ^index\.php - [L]
RewriteRule ^themes/.* - [L]
RewriteRule ^files/.* - [L]
RewriteRule ^ext/.* - [L]
RewriteRule ^install/.* - [L]
RewriteRule ^cli\.php.* index.php?m=404 [L]

RewriteRule ^rewrite\.php.* - [L]

RewriteRule ^news/([0-9][0-9][0-9][0-9])/([0-9]+)/([0-9]+)/$ index.php?m=news&d=listdate&dy=$1&dm=$2&dd=$3 [L]
RewriteRule ^news/([0-9][0-9][0-9][0-9])/([0-9]+)/([0-9]+)/([0-9]+)\.html$ index.php?m=news&d=view&nid=$4 [L]
RewriteRule ^news/([0-9]+)\.html$ index.php?m=news&d=view&nid=$1 [L]
RewriteRule ^content/([0-9]+)\.html$ index.php?m=content&d=view&cid=$1 [L]
RewriteRule ^downloads/attachments/([0-9]+)-(.*)$ index.php?m=download&d=attachment&id=$1 [L]
RewriteRule ^downloads/viewattachment/([0-9]+)-(.*)$ index.php?m=download&d=showattachedfile&id=$1 [L]
RewriteRule ^downloads/$ index.php?m=download [L]

RewriteRule (.*) index.php?rewrittenquery=$1 [QSA,L]