.gallery-item
{
	float:left;
	min-width:100px;
	padding:5px;
	margin:1px;
}

.gallery-image-container
{

}

.gallery-image
{
	
}

.gallery-title
{
	text-align:center;
}

.gallery-insert-list-item
{
	float:left;
	min-width:100px;
	padding:5px;
	margin:1px;
}